* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2B3035;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}
main h1 {
  color: #27AE60;
}
main h4 {
  padding-bottom: 50px;
}
main .div-texto {
  padding-top: 200px;
  height: auto;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
main .div-generico {
  text-align: center;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
main .div-generico .boton {
  padding: 0.5rem;
  border-radius: 50px;
  background-color: #27AE60;
  width: 40%;
  text-align: center;
  margin: 0 auto;
}
main .div-generico .boton:hover {
  color: black;
}
main .div-generico img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.7);
}

.navbar .nav-item *:hover {
  color: #27AE60;
}

footer {
  background-color: #2B3035;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
}
footer .container {
  width: 100%;
}
footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}
footer .footer-links {
  text-align: center;
  width: 25%;
  padding: 15px;
}
footer .footer-links h4 {
  font-size: 20px;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
  border-bottom: 2px solid #27AE60;
  padding-bottom: 15px;
}
footer .footer-links ul {
  padding: 0;
  list-style: none;
}
footer .footer-links ul li {
  margin-bottom: 10px;
}
footer .footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  display: block;
  margin-bottom: 15px;
}

@media screen and (min-width: 600px) {
  main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  main .div-texto {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  main .div-generico {
    padding: 1.5rem;
  }
  main .div-generico .boton {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 2rem 6rem;
  }
  main .div-texto {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  main .div-generico {
    gap: 2rem;
    padding: 2rem;
  }
  main .div-generico .boton {
    width: 35%;
  }
  main .div-generico img {
    width: 70%;
  }
  main .div-generico h2 {
    font-size: 1.4rem;
  }
}
section {
  background-color: #E5E5E5;
}
section .banner {
  background-color: black;
}
section .banner img {
  width: 100%;
}
section .noticia {
  background-color: #27AE60;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1rem;
}
section div {
  padding: 5px;
  display: flex;
  justify-content: center;
}
section div img {
  align-items: center;
  width: 50%;
}

.tienda {
  padding: 300px;
  padding-bottom: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.tienda .img {
  background-color: #2B3035;
  text-align: center;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.tienda .img img {
  width: 80%;
}

.contacto {
  display: flex;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 100px;
}

.servicio {
  display: flex;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.servicio .reparacion {
  padding-top: 200px;
}
.servicio .formulario {
  padding-bottom: 150px;
}
.servicio div h1 {
  color: #27AE60;
}
.servicio form {
  background-color: #27AE60;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

input[type=number] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}
input[type=number]:focus {
  border-color: #28a745;
  outline: none;
}

input[type=submit],
input[type=reset] {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-right: 10px;
}
input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #218838;
  transform: scale(1.05);
}
input[type=submit][type=reset],
input[type=reset][type=reset] {
  background-color: #dc3545;
}
input[type=submit][type=reset]:hover,
input[type=reset][type=reset]:hover {
  background-color: #c82333;
}

main .persona {
  display: flex;
  text-align: center;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 10x;
  padding-bottom: 50px;
}
main .persona img {
  width: 100%;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.7);
}

/*# sourceMappingURL=main.css.map */
