main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  
  h1{
    color: #27AE60;
  }

  h4{
    padding-bottom: 50px;
  }

  .div-texto {
    padding-top: 200px;
    height: auto;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }

  .div-generico {
    text-align: center;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .boton {
      padding: 0.5rem;
      border-radius: 50px;
      background-color: #27AE60;
      width: 40%;
      text-align: center;
      margin: 0 auto;

      &:hover {
        color: black;
      }
    }

    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 15px;
      box-shadow: 0 4px 10px rgba(255, 255, 255, 0.7);
    }
  }
}
